* {
    margin: 0;
    padding: 0;
}

.head {
    box-sizing: border-box;
    height: 10vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info {
    box-sizing: border-box;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.p1 {
    color: red;
}

.p2 {
    color: blue;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}

.board {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    border: 2px solid black;
    width: 40%;
    height: 70%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

button {
    cursor: pointer;
    width: 10vw;
    height: 5vh;
}